<style>
    .hide-placeholder input::-webkit-input-placeholder{color:transparent}
    .hide-placeholder input::-moz-placeholder{color:transparent}
    .hide-placeholder input:-moz-placeholder{color:transparent}
    .hide-placeholder input:-ms-input-placeholder{color:transparent}
    .abs-pos {position:absolute}
</style>
<form name="faceForm"
        class="select-search">
    <ul class="select-search-list">
        <!--ng-hide="listItemHide"-->
        <li class="btn btn-default btn-xs select-search-list-item select-search-list-item_selection"
        ng-hide="!!query && !multiple"
            ng-repeat="item in output track by $index"
            ng-class="{'focused': backspaceFocus && $last, 'abs-pos': !inputHide && !multiple}"
            ng-click="removeItem($index)"
            ng-bind-html="$parent.$hp=getSearchLabel(item)"></li>
        <li class="select-search-list-item select-search-list-item_input"
            ng-class="{'select-search-list-item_hide': inputHide, 'hide-placeholder': !!$hp && !multiple}">
            <input autocomplete="off"
                  name="query"
                  ng-model="query"
                  ng-keyup="keyUp($event)"
                  ng-keydown="keyDown($event)"/>
        </li>
        <li class="select-search-list-item select-search-list-item_loader"
            ng-show="showLoader"></li>
    </ul>
</form>
<div class="select-dropdown" ng-show="isOpen" fine-scroll="{}">

    <ul ng-show="isOpen" class="select-dropdown-optgroup" ng-repeat="(group, options) in groups">
        <div class="select-dropdown-optgroup-header"
             ng-if="group && options.length"
             ng-bind-html="getGroupLabel(group, options)">
        </div>
        <li class="select-dropdown-optgroup-option"
            ng-init="isDisabled = getDisableWhen(option)"
            ng-repeat="option in options"
            ng-class="{'active': selectorPosition === groupPos[group] + $index, 'disabled': isDisabled, 'ungroup': !group}"
            ng-click="isDisabled || addItem(option)"
            ng-mouseenter="setSelection(groupPos[group] + $index)"
            ng-bind-html="getDropdownLabel(option)"></li>
    </ul>
</div>
